<div id="reaction-<%= reaction.id %>" class='panel'>
  <blockquote>
  <%= reaction.content %>

  <cite><%= reaction.user.username %>, <%= time_ago_in_words reaction.created_at %> ago</cite>
  </blockquote>
</div>

