<div id="reaction-<%= reaction.id %>">
  <p><%= reaction.created_at %></p>
  <p><%= reaction.content %></p>
  <p class="reaction-username">Thoughtfully provided by the illustrious <%= reaction.user.username %></p>
</div>

